<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Escritorio</title>

    <!-- Custom fonts for this template-->
 	<link rel="stylesheet" href="{{ asset('vendor/fontawesome-free/css/all.css') }}">


    <!-- Custom styles for this template-->
   
    <link rel="stylesheet" href="{{ asset('css/estilos-propios.css') }}">
    <link rel="stylesheet" href="{{ asset('css/sb-admin-2.css') }}">
    
    	


</head>

<body id="page-top">

    {# Contenedor principal de la página #}
    <div id="wrapper">

        {# Contenedor para el contenido principal #}
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                {# Incluye la barra de navegación #}
                {% include 'navbarIndex.html.twig' %}

                <div class="container-fluid margen-contenedor mb-5">

                    {# Encabezado de la página para pantallas grandes #}
                    <div class="d-sm-flex d-none align-items-center justify-content-between mb-4 mx-1 mt-forzado">
                        <h1 class="h3 mb-0 text-highlight">Cursos Disponibles</h1>

                        {# Botón de imprimir visible solo en SM o pantallas más grandes #}
                        <a class="btn btn-sm btn-primary shadow-sm d-none d-sm-inline-block" href="#"
                            onclick="window.print();">
                            <i class="fas fa-print fa-sm text-white"></i> Imprimir cursos
                        </a>
                    </div>

                    {# Encabezado de la página para pantallas XS #}
                    <div class="d-xs-flex d-sm-none align-items-center justify-content-between mb-4 mt-forzado">
                        <h1 class="h4 mb-0 text-highlight">Cursos Disponibles

                            {# Ícono de impresora visible solo en XS #}
                            <a class="d-inline d-sm-none ml-2" href="#" onclick="window.print();">
                                <i class="fas fa-print fa-sm "></i>
                            </a>
                        </h1>
                    </div>

                    {# Tabla de cursos disponibles #}
                    <div class="ancho-table mx-1 my-5 shadow rounded bg-white">

                        <table class="table table-striped mt-4" id="tabla_cursos">
                            <thead class="background">
                                <tr>
                                    <th>Título del Curso</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {# Bucle para mostrar cada curso #}
                                {% for curso in cursos %}
                                    <tr>
                                        <td>{{ curso.getTitulo() }}</td>
                                        <td>
                                            <button class="btn btn-info mx-1 my-1">
                                                {# Enlace a detalles del curso #}
                                                <a class="text-white" href="{{ path('pagina_detalles', {'curso_id': curso.getCursoId()}) }}">
                                                    <i class="fas fa-info-circle"></i> Ver
                                                </a>
                                            </button>
                                            <button class="btn btn-success mx-1 my-1">
                                                {# Enlace para matricularse en el curso #}
                                                <a class="text-white" href="{{ path('pagina_matricula', {'curso_id': curso.getCursoId()}) }}">
                                                    <i class="fas fa-check"></i> Matrícula
                                                </a>
                                            </button>
                                        </td>
                                    </tr>
                                {% else %}
                                    {# Mensaje si no hay cursos disponibles #}
                                    <tr>
                                        <td colspan="2">No hay cursos disponibles</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- Fin del contenido principal -->
        </div>
        <!-- Fin del contenedor del contenido -->
    </div>
    <!-- Fin del contenedor principal -->

    <!-- Botón de scroll hacia arriba -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</body>

</html>
